* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
.journal-header,
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  /* background: linear-gradient(to right, #ffffff, #ffefba) no-repeat; */
  /* background-size: contain; */
  background-color: #fff0c2;
  font-family: "Inter", sans-serif;
  /* margin: auto; */
}

.app {
  /* background-color: rebeccapurple; */
  width: 60rem;
  background-color: white;
  /* flex-direction: column; */
}

.journal-header {
  background-color: #f55a5a;
  padding: 1.5rem 0;
  color: white;
  gap: 0.5rem;
  margin-bottom: 5.5rem;
  font-size: large;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 4rem;
}

.section:nth-child(6) {
  padding-bottom: 3rem;
}

.section > img {
  width: 125px;
  height: 168px;
  border-radius: 0.7rem;
}

.location {
  justify-content: flex-start;
  gap: 1.5rem;
}

.location > a {
  color: #7f7d7d;
  font-size: 1.1rem;
}

.country-name > img {
  width: 0.8rem;
  margin-right: 0.2rem;
}

.country-name > span {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
}

h1 {
  font-size: x-large;
  margin: 0.7rem 0 1.5rem;
}

.date {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.location-info {
  font-size: 1.1rem;
  line-height: 1.4rem;
  word-spacing: 0.4rem;
}

.line {
  /* color: #7f7d7d; */
  border: none;
  background-color: rgb(215, 208, 208);
  height: 0.1rem;
  margin: 2rem auto;
  width: 85%;
  /* text-align: center; */
}

@media screen and (max-width: 600px) {
  .app {
    width: 100%;
  }
}
